# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Output of go build
*.exe

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Editor directories
.idea/
.vscode/

/dbc-updater-armv7l
/dbc-updater
